.fashion-card {
  background: white;
  border-radius: 15px;
  padding: 20px;

  box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

.fashion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.fashion-header h3 {
  font-weight: 700;
}

.fashion-header button {
  border: none;
  background: #2874f0;
  color: white;

  padding: 10px 20px;

  border-radius: 8px;
}

.fashion-grid {
  display: flex;

  gap: 20px;

  overflow-x: auto;

  scrollbar-width: none;
}

.fashion-grid::-webkit-scrollbar {
  display: none;
}